html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: aquamarine;
}
.parent {
}
.card {
  display: flex;
}
.skins {
  display: flex;
  justify-content: space-around;
}
h2 {
  margin: 3rem;
}
.sentence-1 {
  width: 28%;
  font-size: 40px;
}
.card-img {
  padding: 50px 100px 50px 100px;
}
