html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background-color: rgb(228, 97, 22);
}
.parent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card-img {
  text-align: center;
}
.card-img:hover {
  transform: scale(1.1);
  outline: 1rem solid blue;
}
.card-1:hover,
.card-3:hover {
  transform: scale(1.1);
  outline: 1rem solid green;
}
@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.card-2:hover {
  outline: 1rem solid black;
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
p {
  margin: 3rem;
  color: rgb(18, 216, 18);
}
.sentence-1 {
  font-size: 10em;
  text-align: center;
  color: rgb(0, 0, 0);
  border: 0.75rem solid black;
  margin-left: 50rem;
  margin-right: 50rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
}
.hi {
  display: flex;
  justify-content: space-evenly;
  font-size: 50px;
}
.card-1,
.card-2,
.card-3 {
  width: 24%;
  height: 75%;
  border: 3px solid rgb(48, 10, 218);
  text-align: center;
  background-color: rgb(1, 1, 14);
  box-shadow: 4px 4px 8px;
  margin-bottom: 3em;
}
#bye {
  width: 25rem;
  height: 25rem;
  border: 5px solid black;
  margin-top: 1.75em;
  margin-bottom: 1.75em;
}
.bad-game {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.balanced {
}
.ping {
  opacity: 1;
}
.ping:hover {
  opacity: 0.8;
  transform: scale(0.8);
}
.inters {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.inters:hover,
.inters:focus,
.inters:active {
  transform: translateY(-10rem);
}
.toxicity {
}
.afk {
  border: 3px solid #0740df;
}

.afk:hover {
  border: 3px dotted #093be0;
  color: #0e24e9;
  background: rgb(235, 10, 10);
}
.years {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.5s;
}
.years:hover,
.years:focus,
.years:active {
  transform: scale(1.5);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.rock {
}
.scam {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.scam:before {
  pointer-events: none;
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 0;
  right: 0;
  background: white;
  /* IE9 */
  background: linear-gradient(225deg, white 45%, #aaa 50%, #ccc 56%, white 80%);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}
.scam:hover:before,
.scam:focus:before,
.scam:active:before {
  width: 25px;
  height: 25px;
}
