html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: rgb(228, 97, 22);
}
.parent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card-img {
  text-align: center;
}
p {
  margin: 3rem;
  color: blue;
}
.sentence-1 {
  font-size: 10em;
  text-align: center;
  color: rgb(0, 0, 0);
  border: 0.75rem solid black;
  margin-left: 50rem;
  margin-right: 50rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
}
.hi {
  display: flex;
  justify-content: space-evenly;
  font-size: 50px;
}
.card-1,
.card-2,
.card-3 {
  width: 24%;
  height: 75%;
  border: 3px solid rgb(48, 10, 218);
  text-align: center;
  background-color: rgb(1, 1, 14);
  box-shadow: 4px 4px 8px;
  margin-bottom: 3em;
}
#bye {
  width: 25rem;
  height: 25rem;
  border: 5px solid black;
  margin-top: 1.75em;
  margin-bottom: 1.75em;
}
